.careers-page {
    .heading-wrap {
        width: 897px;
        max-width: 100%;

        .heading {
            margin-bottom: size(18);

            @media (max-width: 1024px) {
                margin-bottom: size(16);
            }

            @media (max-width: 767px) {
                margin-bottom: size(14);
            }
        }
    }

    .page-description {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .positions {
        .heading {
            margin-bottom: size(80);

            @media (max-width: 1024px) {
                margin-bottom: size(50);
            }

            @media (max-width: 767px) {
                margin-bottom: size(25);
            }
        }

        .position-list {
            .position-card {
                margin-bottom: size(32);
                @include radius(12px);
                background: $white-color;
                box-shadow: 4px 4px 80px 0px rgba(0, 0, 0, 0.04);

                .position-header {
                    width: 100%;
                    border-bottom: 1px solid #EEF1F5;
                    display: flex;

                    @media (max-width: 1024px) {
                        flex-direction: column;
                    }

                    .col-left {
                        width: 494px;

                        @media (max-width: 1200px) {
                            width: 294px;
                        }

                        @media (max-width: 1024px) {
                            width: 100%;
                            border-bottom: 1px solid #EEF1F5;
                        }

                        .col-item {
                            @media (max-width: 1024px) {
                                border-right: none;
                            }
                        }
                    }

                    .col-middle-right-wrap {
                        width: calc(100% - 494px);
                        display: flex;

                        @media (max-width: 1200px) {
                            width: calc(100% - 294px);
                        }

                        @media (max-width: 1024px) {
                            width: 100%;
                            flex-direction: column;
                        }

                        .col-middle {
                            width: calc(100% - 200px);
                            display: flex;

                            @media (max-width: 1200px) {
                                width: calc(100% - 140px);
                            }

                            @media (max-width: 1024px) {
                                width: 100%;
                                border-bottom: 1px solid #EEF1F5;
                            }

                            .col-item {
                                width: 50%;

                                @media (max-width: 1024px) {
                                    flex-direction: row;
                                }

                                &:last-child {
                                    @media (max-width: 1024px) {
                                        border-right: none;
                                    }
                                }
                            }
                        }

                        .col-right {
                            width: 200px;

                            @media (max-width: 1200px) {
                                width: 140px;
                            }

                            @media (max-width: 1024px) {
                                width: 100%;
                            }

                            .primary-btn {
                                @media (max-width: 1024px) {
                                    width: 100%;
                                }
                            }

                            .col-item {
                                border-right: none;
                            }
                        }
                    }

                    .col-item {
                        height: 100%;
                        padding: size(32);
                        border-right: solid 1px #EEF1F5;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        @media (max-width: 1024px) {
                            height: auto;
                            padding: size(24);
                        }

                        @media (max-width: 767px) {
                            padding: size(20);
                        }

                        h4 {
                            margin-bottom: 0;
                            color: $secondary;
                            font-size: size(24);
                            font-weight: 500;
                            line-height: size(32);

                            @media (max-width: 1024px) {
                                font-size: size(20);
                                line-height: size(28);
                            }

                            @media (max-width: 767px) {
                                font-size: size(16);
                                line-height: size(24);
                            }
                        }

                        label {
                            margin-bottom: size(16);
                            color: #55585C;
                            font-size: size(16);
                            font-weight: 400;
                            line-height: size(24);

                            @media (max-width: 1200px) {
                                margin: 0 size(10) 0 0;
                            }

                            @media (max-width: 1024px) {
                                font-size: size(14);
                                line-height: size(20);
                            }

                            @media (max-width: 767px) {
                                font-size: size(13);
                            }
                        }

                        .availability {
                            width: max-content;
                            margin: 0 auto;
                            padding: 0 size(16);
                            @include radius(12px);
                            background: $secondary;
                            color: var(--white, #FFF);
                            font-size: size(18);
                            font-weight: 500;
                            line-height: size(28);
                            white-space: nowrap;
                            @include fpos(center, center);

                            @media (max-width: 1024px) {
                                @include radius(10px);
                                padding: 0 size(14);
                                font-size: size(16);
                                line-height: size(26);
                            }

                            @media (max-width: 767px) {
                                @include radius(8px);
                                padding: 0 size(12);
                                font-size: size(14);
                                line-height: size(22);
                            }
                        }

                        address {
                            margin-bottom: 0;
                            color: $secondary;
                            font-size: size(16);
                            font-weight: 500;
                            line-height: size(24);

                            @media (max-width: 1024px) {
                                font-size: size(14);
                                line-height: size(26);
                            }

                            @media (max-width: 767px) {
                                font-size: size(14);
                                line-height: size(22);
                            }
                        }

                        .btn-outer {
                            @include fpos(center, flex-end);
                        }
                    }
                }

                .position-footer {
                    padding: size(16) size(32) size(32) size(32);

                    @media (max-width: 1024px) {
                        padding: size(14) size(24) size(24) size(24);
                    }

                    @media (max-width: 767px) {
                        padding: size(12) size(20) size(20) size(20);
                    }

                    .btn-wrap {
                        width: max-content;

                        a {
                            color: $primary;
                            font-size: size(16);
                            font-weight: 600;
                            line-height: size(24);
                            @include fpos(center, center);

                            img {
                                margin-left: size(24);
                            }

                            &.active {
                                img {
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }

                    .see-details-expand {
                        padding-top: size(16);
                        display: none;

                        p {
                            margin-bottom: size(16);
                            color: $secondary;
                            font-size: size(16);
                            font-weight: 400;
                            line-height: size(24);

                            @media (max-width: 1024px) {
                                margin-bottom: size(14);
                                font-size: size(15);
                                line-height: size(22);
                            }

                            @media (max-width: 767px) {
                                margin-bottom: size(12);
                                font-size: size(14);
                                line-height: size(20);
                            }
                        }

                        h5 {
                            margin-bottom: size(16);
                            color: $secondary;
                            font-size: size(16);
                            font-weight: 600;
                            line-height: size(24);

                            @media (max-width: 1024px) {
                                margin-bottom: size(14);
                                font-size: size(15);
                                line-height: size(22);
                            }

                            @media (max-width: 767px) {
                                margin-bottom: size(12);
                                font-size: size(14);
                                line-height: size(20);
                            }
                        }

                        ul {
                            margin-bottom: 0;

                            li {
                                padding-left: size(40);
                                margin-bottom: size(16);
                                color: $secondary;
                                font-size: size(16);
                                font-weight: 400;
                                line-height: size(24);
                                position: relative;

                                @media (max-width: 1024px) {
                                    margin-bottom: size(14);
                                    font-size: size(15);
                                    line-height: size(22);
                                }

                                @media (max-width: 767px) {
                                    margin-bottom: size(12);
                                    font-size: size(14);
                                    line-height: size(20);
                                }

                                &:before {
                                    width: 8px;
                                    height: 8px;
                                    background: $primary;
                                    position: absolute;
                                    content: "";
                                    left: 16px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}