.cloud-backup-page {

    .data-card {
        .data-service {
            @media (max-width: 767px) {
                align-items: center;
                flex-direction: row;
            }
        }
    }


    .cloud-storage-slider {
        background: #F7F8FA;

        .slick-slider {
            .slick-prev {
                &.slick-arrow {
                    display: none !important;
                }
            }
        }

        .slick-slider {
            .slick-next {
                &.slick-arrow {
                    display: none !important;
                }
            }
        }

        .slide-cloud-storage {
            margin: 0 size(-16);

            .slide-cloud-item {
                height: inherit;
                padding: 0 size(16);

                .slide-card {
                    height: 100%;
                    padding: size(32);
                    @include radius(12px);
                    background: $white-color;

                    h4 {
                        margin-bottom: size(16);
                        color: $secondary;
                        font-size: size(18);
                        font-weight: 500;
                        line-height: size(28);
                        position: relative;
                        @include fpos(flex-start, flex-start);

                        .count {
                            margin-right: size(16);
                            padding: 0 size(8);
                            gap: 8px;
                            border: solid 1px $primary;
                            @include fpos(center, center);
                            @include radius(12px);
                            border: 2px solid $primary;
                            color: $primary;
                            font-size: size(18);
                            font-weight: 500;
                            line-height: size(28);
                            transition: 0.3s ease-in;

                            @media (max-width: 1024px) {
                                font-size: size(16);
                                line-height: size(26);
                            }

                            @media (max-width: 767px) {
                                font-size: size(14);
                                line-height: size(24);
                            }
                        }
                    }

                    p {
                        margin-bottom: 0;
                        color: $secondary;
                        font-size: size(16);
                        line-height: size(24);
                    }
                }
            }
        }
    }

    .certified-cloud-services {
        padding-top: size(124);

        @media (max-width: 1024px) {
            padding-top: size(80);
        }

        @media (max-width: 767px) {
            padding-top: size(50);
        }

        .sub-heading {
            margin: size(80) 0 size(24);
            color: $secondary;
            font-size: size(24);
            font-weight: 500;
            line-height: size(32);

            @media (max-width: 1024px) {
                margin: size(50) 0 size(20);
                font-size: size(20);
                line-height: size(28);
            }

            @media (max-width: 767px) {
                margin: size(50) 0 size(18);
                font-size: size(18);
                line-height: size(26);
            }
        }

        .cloud-service-card {
            height: 100%;
            padding: size(24);
            @include radius(12px);
            background: $white-color;
            box-shadow: 4px 4px 80px 0px rgba(0, 0, 0, 0.04);
            @include fpos(center, space-between);
            flex-direction: column;
            border: solid 1px $white-color;
            @include transition(0.3s ease-in);
            cursor: pointer;

            @media (max-width: 1024px) {
                padding: size(20);
                @include radius(10px);
            }

            @media (max-width: 767px) {
                padding: size(15);
                @include radius(8px);
            }

            &:hover {
                border: solid 1px $primary;
                transform: scale(1.1);

                @media (max-width: 767px) {
                    transform: scale(1);
                }
            }

            .cloud-logo {
                figure {
                    margin-bottom: size(0);
                }
            }

            h4 {
                margin: size(16) 0;
                color: $secondary;
                text-align: center;
                font-size: size(18);
                font-weight: 500;
                line-height: size(28);

                @media (max-width: 1024px) {
                    margin: size(14) 0;
                    font-size: size(16);
                    line-height: size(26);
                }

                @media (max-width: 767px) {
                    margin: size(12) 0;
                    font-size: size(14);
                    line-height: size(24);
                }
            }

            p {
                margin-bottom: size(0);
                color: #55585C;
                text-align: center;
                font-size: size(18);
                font-weight: 400;
                line-height: size(28);

                @media (max-width: 1024px) {
                    font-size: size(16);
                    line-height: size(26);
                }

                @media (max-width: 767px) {
                    font-size: size(14);
                    line-height: size(24);
                }
            }
        }
    }

    .service {
        .title {
            margin-bottom: size(24);
            color: $secondary;
            font-size: size(24);
            font-weight: 500;
            line-height: size(32);

            @media (max-width: 1024px) {
                margin-bottom: size(20);
                font-size: size(20);
                line-height: size(28);
            }

            @media (max-width: 767px) {
                margin-bottom: size(18);
                font-size: size(18);
                line-height: size(26);
            }

            &.top-space {
                margin-top: size(56);

                @media (max-width: 1024px) {
                    margin-top: size(46);
                }

                @media (max-width: 767px) {
                    margin-top: size(26);
                }
            }
        }

        .add-ons-wrap {
            padding: size(8) 0;
            background: #EEF1F5;

            @media (max-width: 1024px) {
                padding: size(6) 0;
            }

            @media (max-width: 767px) {
                padding: size(5) 0;
            }

            .item-row {
                @include fpos(center, flex-start);
                flex-wrap: wrap;

                .item {
                    padding: size(8) size(16) size(8) 0;

                    @media (max-width: 1024px) {
                        padding: size(6) size(14) size(8) 0;
                    }

                    @media (max-width: 767px) {
                        padding: size(5) size(12) size(8) 0;
                    }

                    .inner {
                        padding: size(4) size(16);
                        @include radius(12px);
                        background: $white-color;
                        @include fpos(center, flex-start);

                        @media (max-width: 1024px) {
                            @include radius(10px);
                        }

                        @media (max-width: 767px) {
                            @include radius(8px);
                        }

                        figure {
                            margin: 0 0 0 8px;
                            position: relative;

                            @media (max-width: 1024px) {
                                margin: 0 0 0 6px;
                            }

                            @media (max-width: 767px) {
                                margin: 0 0 0 5px;
                            }

                            &:first-child {
                                margin-left: 0;
                            }

                            .badge-wrap {
                                height: 16px;
                                padding: 0 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: size(10);
                                line-height: size(16);
                                color: $white-color;
                                background: $primary;
                                @include radius(8px);
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }

                        h4 {
                            margin: 0 0 0 8px;
                            font-size: size(16);
                            line-height: size(24);
                            color: #0B1621;

                            @media (max-width: 1024px) {
                                font-size: size(15);
                                line-height: size(22);
                            }

                            @media (max-width: 767px) {
                                font-size: size(14);
                                line-height: size(20);
                            }
                        }
                    }
                }
            }
        }

        .add-on-col {
            margin-bottom: size(32);

            @media (max-width: 1024px) {
                margin-bottom: size(28);
            }

            @media (max-width: 767px) {
                margin-bottom: size(24);
            }

            .add-on-card {
                height: 100%;
                padding: size(24) 0 0;
                @include radius(12px);
                background: rgba(255, 255, 255, 0.40);
                box-shadow: 4px 4px 80px 0px rgba(0, 0, 0, 0.06);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 1024px) {
                    padding: size(20) 0 0;
                    @include radius(10px);
                }

                @media (max-width: 767px) {
                    padding: size(16) 0 0;
                    @include radius(8px);
                }

                .basic-info {
                    padding: 0 size(24);

                    @media (max-width: 1024px) {
                        padding: 0 size(20);
                    }

                    @media (max-width: 767px) {
                        padding: 0 size(16);
                    }

                    .image-title-wrap {
                        @include fpos(center, flex-start);
                        margin-bottom: size(16);

                        @media (max-width: 1024px) {
                            margin-bottom: size(15);
                        }

                        @media (max-width: 767px) {
                            margin-bottom: size(14);
                        }

                        .image-wrap {
                            width: 80px;
                            height: 80px;
                            @include radius(6px);
                            background: $grayColor;
                            overflow: hidden;
                            @include fpos(center, center);

                            @media (max-width: 1024px) {
                                width: 70px;
                                height: 70px;
                            }

                            @media (max-width: 767px) {
                                width: 60px;
                                height: 60px;
                            }

                            figure {
                                margin-bottom: 0;
                                @include radius(6px);
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center center;
                                }
                            }
                        }

                        .title-wrap {
                            width: calc(100% - 80px);
                            padding-left: size(33);

                            @media (max-width: 1024px) {
                                width: calc(100% - 70px);
                                padding-left: size(25);
                            }

                            @media (max-width: 1024px) {
                                width: calc(100% - 60px);
                                padding-left: size(15);
                            }

                            h3 {
                                margin-bottom: 0;
                                font-size: size(24);
                                font-weight: 600;
                                line-height: size(32);
                                color: #383131;

                                @media (max-width: 1024px) {
                                    font-size: size(20);
                                    line-height: size(28);
                                }

                                @media (max-width: 767px) {
                                    font-size: size(16);
                                    line-height: size(24);
                                }
                            }
                        }
                    }

                    .description {
                        margin-bottom: size(16);
                        color: $secondary;
                        font-size: size(16);
                        line-height: size(24);

                        @media (max-width: 1024px) {
                            margin-bottom: size(15);
                            font-size: size(15);
                            line-height: size(22);
                        }

                        @media (max-width: 767px) {
                            margin-bottom: size(14);
                            font-size: size(14);
                            line-height: size(20);
                        }

                        a {
                            text-decoration: underline;
                            color: $secondary;
                        }
                    }

                    .list-info {
                        margin-bottom: 0;

                        li {
                            margin-bottom: size(8);
                            color: $secondary;
                            font-size: size(16);
                            line-height: size(24);
                            font-weight: 700;
                            word-wrap: break-word;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            @media (max-width: 1024px) {
                                font-size: size(15);
                                line-height: size(22);
                            }

                            @media (max-width: 767px) {
                                font-size: size(14);
                                line-height: size(20);
                            }

                            a {
                                color: #376EA6;
                                font-weight: 500;
                                word-wrap: break-word;
                            }
                        }
                    }
                }

                .bottom-info {
                    padding: size(24);
                    @include fpos(center, flex-start);

                    @media (max-width: 1024px) {
                        padding: size(20);
                    }

                    @media (max-width: 767px) {
                        padding: size(16);
                    }

                    ul {
                        margin-bottom: size(0);
                        @include fpos(center, flex-start);

                        @media (max-width: 767px) {
                            flex-wrap: wrap;
                            gap: size(15);
                        }

                        li {
                            margin-right: size(24);

                            @media (max-width: 1024px) {
                                margin-right: size(20);
                            }

                            @media (max-width: 767px) {
                                margin-right: size(16);
                            }

                            a {
                                font-size: size(16);
                                line-height: size(24);
                                font-weight: 600;
                                color: $primary;
                                @include fpos(center, center);

                                @media (max-width: 1024px) {
                                    font-size: size(15);
                                    line-height: size(22);
                                }

                                @media (max-width: 767px) {
                                    font-size: size(14);
                                    line-height: size(20);
                                }

                                img {
                                    margin-left: size(8);

                                    @media (max-width: 1024px) {
                                        margin-left: size(6);
                                    }

                                    @media (max-width: 767px) {
                                        margin-left: size(6);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cloud-backup-tips {
        .heading {
            margin-bottom: size(80);

            @media (max-width: 1024px) {
                margin-bottom: size(50);
            }

            @media (max-width: 767px) {
                margin-bottom: size(25);
            }
        }

        .tips-list {
            .tips-item {
                h4 {
                    margin-bottom: size(16);
                    color: $secondary;
                    font-size: size(24);
                    font-weight: 500;
                    line-height: size(32);

                    @media (max-width: 1024px) {
                        margin-bottom: size(14);
                        font-size: size(20);
                        line-height: size(28);
                    }

                    @media (max-width: 767px) {
                        margin-bottom: size(10);
                        font-size: size(18);
                        line-height: size(26);
                    }
                }

                p {
                    margin-bottom: size(32);
                    color: $secondary;
                    font-size: size(16);
                    line-height: size(24);

                    @media (max-width: 1024px) {
                        margin-bottom: size(24);
                        font-size: size(15);
                        line-height: size(25);
                    }

                    @media (max-width: 767px) {
                        margin-bottom: size(15);
                        font-size: size(14);
                        line-height: size(24);
                    }

                    a {
                        font-weight: 500;
                        color: #376EA6;
                    }
                }

                &:last-child {
                    p {
                        margin-bottom: size(0);
                    }
                }
            }
        }
    }
}