@import "./commonmixin.scss";
@import "./var.scss";
.data-card {
  height: 282px;
  border-radius: 12px;
  background: $white-color;
  box-shadow: 4px 4px 80px 0px rgba(0, 0, 0, 0.04);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px $white-color;
  @include transition(0.3s ease-in);
  @media (max-width: 767px) {
    height: 256px;
    padding: 16px;
  }
  &:hover {
    border: solid 1px $primary;
    .data-link-wrap {
      .data-link {
        transform: scale(1.03);
      }
    }
  }
  .data-service {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: $secondary;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    @media (max-width: 767px) {
      margin-bottom: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
    figure {
      margin-bottom: 0;
    }
    .title {
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem;
      height: auto !important;
      max-height: 56px !important;
      min-height: initial !important;
      @include text-truncate(2, 56px);
      @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
  .data-description {
    margin-bottom: 0;
    color: #55585C;
    font-size: 1.6rem;
    line-height: 2.4rem;
    @include text-truncate(4, 100px);
    @media (max-width: 767px) {
      @include text-truncate(2, 50px);
    }
  }
  .data-link-wrap {
    .data-link {
      color: $primary;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.6rem;
      @include fpos(center, space-between);
      text-decoration: none;
      @include transition(0.3s ease-in);
      @media (max-width: 767px) {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}