@import "./commonmixin.scss";
@import "./var.scss";
.page-banner{
    height:406px;
    background:#191C2E;
    overflow: hidden;
    position: relative;
    @media (max-width: 991px) {
        height:260px;
    }
    @media (max-width: 767px) {
        height:226px;
    }
    figure{
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
        overflow: hidden;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .container{
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .banner-info{
            .page-title{
                margin-bottom:20px;
                color: $white-color;
                text-align: center;
                font-size: 4.8rem;
                font-weight: 500;
                line-height: 5.6rem;
                @media (max-width:767px) {
                    margin-bottom:18px;
                    font-size:4rem;
                    line-height:4.8rem;
                }
                @media (max-width:576px) {
                    margin-bottom:15px;
                    font-size:3.2rem;
                    line-height:4rem;
                }
            }
            .page-description{
                margin-bottom:0;
                color: #FFF;
                text-align: center;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            .btn-wrap{
                width:186px;
                margin:34px auto 0; 
                @media (max-width:767px) {
                    margin:24px auto 0; 
                }
                @media (max-width:576px) {
                    margin:15px auto 0; 
                }
                a{
                    &.primary-btn{
                        padding:10px 15px;
                        text-decoration:none;
                        color:$white-color;
                        img{
                            margin-right:8px;
                        }
                    }
                }
            }
        }
    }
}