@import "./commonmixin.scss";
@import "./var.scss";

.page-banner {
    height: 406px;
    background: #191C2E;
    overflow: hidden;
    position: relative;

    @media (max-width: 991px) {
        height: 260px;
    }

    @media (max-width: 767px) {
        height: 226px;
    }

    figure {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .banner-info {
            .page-title {
                margin-bottom: 20px;
                color: $white-color;
                text-align: center;
                font-size: size(48);
                font-weight: 500;
                line-height: size(56);

                @media (max-width:767px) {
                    margin-bottom: 18px;
                    font-size: size(40);
                    line-height: size(48);
                }

                @media (max-width:576px) {
                    margin-bottom: 15px;
                    font-size: size(32);
                    line-height: size(40);
                }
            }

            .page-description {
                margin-bottom: 0;
                color: #FFF;
                text-align: center;
                font-size: size(16);
                line-height: size(26);
            }

            .btn-wrap {
                width: 186px;
                margin: 34px auto 0;

                @media (max-width:767px) {
                    margin: 24px auto 0;
                }

                @media (max-width:576px) {
                    margin: 15px auto 0;
                }

                a {
                    &.primary-btn {
                        padding: 10px 15px;
                        text-decoration: none;
                        color: $white-color;

                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}