@import "./commonmixin.scss";
@import "../scss/var";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-weight: 400;
	font-family: $font-family !important;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

a,
button {
	cursor: pointer;
}

@keyframes ripple {
	from {
		transform: scale(0) translate(-50%, -50%);
		opacity: 1;
	}

	to {
		transform: scale(1) translate(-50%, -50%);
		opacity: 0;
	}
}

@-webkit-keyframes btnscale {
	0% {
		transform: scale(1)
	}

	15% {
		transform: scale(1.05)
	}

	to {
		transform: scale(1)
	}
}

@keyframes btnscale {
	0% {
		transform: scale(1)
	}

	15% {
		transform: scale(1.05)
	}

	to {
		transform: scale(1)
	}
}

@keyframes ripple {
	from {
		transform: scale(0) translate(-50%, -50%);
		opacity: 1;
	}

	to {
		transform: scale(1) translate(-50%, -50%);
		opacity: 0;
	}
}

.bbtn {
	padding: 12px 24px;
	@include radius(12px);
	@include fpos(center, center);
	font-size: size(16);
	font-weight: 600;
	position: relative;
	overflow: hidden;

	@media (max-width: 1024px) {
		font-size: size(14);
	}

	&:before {
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.376);
		position: absolute;
		content: '';
		width: 300px;
		height: 300px;
		left: 50%;
		top: 50%;
		transform: scale(0) translate(-50%, -50%);
		-webkit-transform: scale(0) translate(-50%, -50%);
		transform-origin: 0% 0%;
		-webkit-transform-origin: 0% 0%;
	}

	&.primary-btn {
		border: solid 1px $primary;
		background-color: $primary;
		color: $white-color;

		&:hover {
			-webkit-animation: btnscale .5s linear 1;
			animation: btnscale .5s linear 1;
			-webkit-animation-delay: .1s;
			animation-delay: .1s;

			&:before {
				animation-name: ripple;
				animation-timing-function: linear;
				animation-duration: 0.5s;
			}
		}
	}

	&.outline-btn {
		background-color: #EEF1F5;
		border: solid 1px $primary;
		color: $primary;

		&:hover {
			-webkit-animation: btnscale .5s linear 1;
			animation: btnscale .5s linear 1;
			-webkit-animation-delay: .1s;
			animation-delay: .1s;

			&:before {
				animation-name: ripple;
				animation-timing-function: linear;
				animation-duration: 0.5s;
			}
		}
	}

	&.lightblue-btn {
		background: rgba(255, 255, 255, 0.10);
		color: $white-color;
		text-decoration: none !important;

		&:hover {
			-webkit-animation: btnscale .5s linear 1;
			animation: btnscale .5s linear 1;
			-webkit-animation-delay: .1s;
			animation-delay: .1s;

			&:before {
				animation-name: ripple;
				animation-timing-function: linear;
				animation-duration: 0.5s;
			}
		}
	}

}



img {
	max-width: 100%;
	height: auto;
	display: block;
}


.common_padding {
	padding-top: 125px;
	padding-bottom: 125px;

	@media (max-width: 1024px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@media (max-width: 676px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.heading {
	color: $secondary;
	font-size: size(40);
	font-weight: 500;
	line-height: size(48);

	@media (max-width: 1024px) {
		font-size: size(32);
		line-height: size(40);
	}

	@media (max-width: 767px) {
		font-size: size(24);
		line-height: size(36);
	}
}

.bg_white {
	background-color: $white-color;
}

.bg_gray {
	background-color: #F7F8FA;
}

.card_txt {
	border-radius: size(12);
	background: $white-color;
	box-shadow: size(4) size(4) size(80) 0 rgba(0, 0, 0, 0.04);
	padding: size(30);
	height: 100%;
	margin-bottom: size(20);

	@media (max-width: 767px) {
		height: auto;
	}

	&.wbg {
		background: linear-gradient(119deg, #CC2127 -60.67%, rgba(204, 33, 39, 0.00) 32.27%), #FFF;
	}

	.head {
		color: #383131;
		font-size: size(32);
		font-weight: 500;
		line-height: size(40);
		margin-bottom: size(15);

		@media (max-width: 767px) {
			font-size: size(24);
			line-height: size(36);
		}
	}

	p {
		color: #0B1621;
		font-weight: 400;
		font-size: size(16);
		line-height: size(24);
		margin-bottom: 0;

		@media (max-width: 767px) {
			font-size: size(14);
		}
	}
}

.max-wdt-710 {
	width: 710px;
	max-width: 100%;
}

.table_responsive {
	overflow-x: auto;
}

.tb_wrap {
	width: 100%;
	min-width: 600px;
	border: 1px solid #ddd;
	font-size: size(16);
	line-height: size(24);

	@media (max-width: 767px) {
		font-size: size(14);
	}

	&.first_bd {
		td {
			&:first-child {
				font-weight: 600;
			}
		}
	}

	td,
	th {
		border: 1px solid #ddd;
		padding: 10px;
	}

	th {
		font-weight: 600;
	}
}

.para_pointer {
	width: 610px;
	max-width: 100%;
	margin: 0 auto;
	justify-content: space-between;

	@media (max-width: 767px) {
		flex-wrap: wrap;
	}

	p {
		@media (max-width: 767px) {
			font-size: size(14);
			width: 50%;
			text-align: center;
		}
	}

}