.table_filter_wrap{
    .form-control{
        &.single-select{
            height:48px;
            padding:12px 24px!important;
        }
    }
    .btn-wrap{
        margin-top:size(36);
        @include fpos(center, flex-end);
    }
}
.storage-devices{
    .heading{
        margin-bottom:80px;
        @media (max-width: 1024px) {
            margin-bottom:50px;
        }
        @media (max-width: 767px) {
            margin-bottom:25px;
        }
    }
}
.gradient-right-align{
    position: relative;
    &::before{
        width:size(144);
        height:100%;
        background: linear-gradient(270deg, rgba(11, 22, 33, 0.07) 0%, rgba(11, 22, 33, 0.00) 100%);
        position: absolute;
        content:"";
        right:0;
        top:0;
    }
}
.table_section{
    .section-title{
        color:$secondary;
        font-size: size(32);
        font-weight: 500;
        line-height:size(40);
        margin-bottom:size(28);
        @media (max-width: 1024px) {
            font-size: size(28);
            line-height:size(36);
            margin-bottom:size(24);
        }
        @media (max-width: 1024px) {
            font-size: size(24);
            line-height:size(32);
            margin-bottom:size(20);
        }
    }
}
.dropdown {
    &.savedSearches {
        width:100%;
        display: inline-block;
        position: relative;
        button {
            width: 100%;
            height:48px;
            padding:size(8) size(24);
            @include radius(12px);
            background:#F7F8FA;
            border: 0px;
            font-size:size(16);
            line-height:size(24);
            color:$secondary;
            text-align: left;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            &:before,
            &:after {
                display: block;
                content: '';
                width: 1px;
                height: 8px;
                background: #282828;
                position: absolute;
                top:18px;
            }
            &:before {
                right: 24px;
                transform: rotate(-45deg);
            }
            &:after {
                right: 16px;
                transform: rotate(45deg);
            }
        }
        ul {
            display: none;
            position: absolute;
            background: #fff;
            list-style: none;
            border: 1px solid #f0f0f0;
            line-height: 1em;
            top: 0px;
            left: 0px;
            box-shadow: 0px 0px 3px 1px #ccc;
            padding: 0;
            width: 20em;
            margin: 0;
            z-index: 1;
            li {
                padding: 0.8em;
                cursor: pointer;
                transition: background 250ms;
                &:hover {
                    background: #f0f0f0;
                }
                &.searchInput {
                    padding: 0.5em;
                    input {
                        width: 100%;
                        border: 0px;
                        border: 1px solid #ccc;
                        padding: 1em;
                    }
                }
            }
        }
    }
}
.searchContainer .savedSearches {
    margin: 0.8em 0;
}
.dark-card{
    padding:size(64);
    @include radius(36px);
    background: $secondary;
    @media (max-width: 1024px) {
        padding:size(44);
        @include radius(24px);
    }
    @media (max-width: 767px) {
        padding:size(30);
        @include radius(20px);
    }
    h4{
        margin-bottom:size(32);
        color: #FEFEFE;
        text-align: center;
        font-size:size(40);
        font-weight: 400;
        line-height: size(48);
        @media (max-width: 1024px) {
            margin-bottom:size(24);
            font-size:size(32);
            line-height: size(40);
        }
        @media (max-width: 767px) {
            margin-bottom:size(20);
            font-size:size(24);
            line-height: size(32);
        }
    }
    .btn-wrap{
        @include fpos(center,center);
    }
}